

  <div class="Footer_Row row">
    <div class="col Portfolio_Column">
      <!--<h4>Project Portfolio</h4>-->
      <!--<h5 class="Category_Title"> Feature Films</h5>-->
      <!--<h5 class="Category_Title"> Short Films </h5>-->
      <!--<h5 class="Category_Title"> Music Videos </h5>-->
      <!--<h5 class="Category_Title"> Branded Content </h5>-->
    </div>


     <div class="col Contact_Column">
         <img src="https://drive.google.com/uc?export=view&id=162jN4jghrKGjJNfFNO_sm4tbqt3Ifwgq" alt="" class="footer-logo">
         <div class="social_icon_wrapper">
             <img src="../../assets/social_media_logos/facebook.svg" alt="" class="social-icon" >
             <img src="../../assets/social_media_logos/twitter.svg" alt="" class="social-icon">
             <img src="../../assets/social_media_logos/vimeo-social-logo.svg" alt="" class="social-icon">
             <img src="../../assets/social_media_logos/instagram.svg" alt="" class="social-icon">
         </div>

         <p>© Copyright 2019 Trikon. All Rights Reserved. </p>
     </div>

    <div class="Link_Column col">

    </div>
  </div>