
<div class="scene">
    <div class="cube">
        <div class="side1 back">
        </div>
        <div class="side2 top">
        </div>
        <div class="side3 bottom">
        </div>
        <div class="side4 front">
            <div class="guides"></div>
            <iframe
                    src="https://player.vimeo.com/video/322980163?background=1"
                    webkitallowfullscreen=""
                    mozallowfullscreen=""
                    allowfullscreen=""
                    allow="autoplay"
                    id="iframe59218"
                    data-ready="true"
                    class="bannervideosource col"
                    [ngStyle]="{'transform': 'scale(1)'}">
            </iframe>
        </div>

    </div>
</div>