


<div class="scene">
  <div class="cube" [ngStyle]="{'transform': 'scale(' + BannerVideoScaleValue+ ') translateZ(-150px) rotateX(' + BannerRotateValue + 'rad) rotateY(' + BannerRotateValue + 'rad)'}">
    <div class="side1 back">
    </div>
    <div class="side2 top">
    </div>
    <div class="side3 bottom">
    </div>
    <div class="side4 front">
      <div class="guides"></div>
<!--      <video  class="bannervideosource col" autoplay [muted]="true"  >-->
<!--        <source src="../../assets/video/2019%20Reel_Final%20Cut_Website%20Edit.mp4" type='video/mp4'/>-->
<!--      </video>-->
      <iframe
        src="https://player.vimeo.com/video/322980163?background=1"
        webkitallowfullscreen=""
        mozallowfullscreen=""
        allowfullscreen=""
        autoplay="1&loop=1&autopause=0"
        allow="autoplay"
        id="iframe59218"
        data-ready="true"
        class="bannervideosource col"
        [ngStyle]="{'transform': 'scale(1)'}">
      </iframe>
    </div>
  </div>
</div>









